body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
  margin-bottom: 20px;
  padding-left: 40px; /* Add horizontal padding */
  padding-right: 40px; /* Add horizontal padding */
}

.form-group h1 {
  text-align: left;
  font-size: 1.8rem;
}

.form-group input {
  margin-bottom: 14px;
  width: 100%;
  height: 52px;
  padding: 10px;
  font-size: 1rem;
  border: none; 
  border-bottom: 1px solid var(--text-color-secondary); 
  background-color: var(--input-background-color); 
  color: var(--text-color); 
  outline: none; 
  border-radius: 0; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input::placeholder {
  color: var(--text-color-secondary); 
}

.form-group input:focus {
  border-bottom: 1px solid var(--text-color); 
  background-color: rgba(60, 70, 100, 0.8); 
}

.form-group input.has-error {
  margin-bottom: 10px; /* Reduced margin-top when there's an error */
}

.form-group input:focus {
  outline: 2px solid var(--text-color); /* Change the outline to white on focus */
}

.form-group button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 100%;
  padding: 8px;
}

.form-group button:hover {
  background-color: var(--button-hover-background-color);
}

.form-group input, 
.form-group button {
  box-sizing: border-box; /* Ensure width includes padding and border */
}

.error-message {
  color: var(--error-color); 
  font-size: 0.8rem; 
  margin-top: -8px; 
  margin-bottom: 5px; 
  text-align: left; 
  display: flex;
  align-items: center;
  gap: 4px; 
  padding-left: 5px; 
}

.error-message::before {
  content: "✖"; 
  color: var(--error-color); 
  margin-left: 0px; 
}

.form-group input:focus.error {
  outline: 2px solid var(--error-color); /* Highlight the input field with a red outline */
}

.form-group input {
  border: 1px solid var(--input-border-color); /* Ensure default border color */
  border-radius: 4px;
}

.form-group input.error {
  border: 1px solid var(--error-color); /* Change border color if there is an error */
}

.header-container {
  position: absolute; /* שמור על המיקום קבוע */
  top: 20px; /* גובה קבוע */
  left: -10px; /* יישור לשמאל */
  display: flex;
  align-items: center;
  z-index: 1000; /* מעל כל האלמנטים האחרים */
}

.netflix-logo {
  position: absolute; /* ממקם את האלמנט ביחס למסך */
  top: 10px; /* מיקום אנכי */
  left: 20%; /* מיקום אופקי */
  transform: translateX(-50%); /* מרכז את הלוגו אופקית */
  height: 50px;
  object-fit: contain; /* משמר את הפרופורציות */
  z-index: 1000; /* מבטיח שהלוגו יופיע מעל שאר האלמנטים */
}


