/* General styling */
.movie-info-page {
    position: relative;
    height: 100vh;
    color: var(--text-color);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-overlay-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: var(--modal-content-color); 
    max-width: 900px; 
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow-y: auto; 
    position: relative;
    box-shadow: 0 8px 30px var(--form-background-color);
    animation: fadeIn 0.5s ease;
    max-height: 90vh;
}

.movie-background {
    width: 100%;
    border-radius: 8px 8px 0 0; 
    object-fit: cover;
    height: 300px;
}

/* Header styling */
.movie-header {
    padding: 20px;
    background: linear-gradient(to bottom, var(--form-background-color), var(--background-color-opacity)); 
    color: var(--text-color);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}

.movie-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.movie-details {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.detail-item {
    background: var(--input-border-color); 
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 600;
}

/* Movie description */
.movie-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    color: var(--text-color-secondary);
}

/* Actions styling */
.play-button-movie {
    margin-left: 20px;
    position: relative; 
    z-index: 10; 
    margin-top: -18px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color 0.3s, transform 0.3s;
}

.play-button-movie:hover {
    background-color: var(--text-color-hover);
}


/* Close button styling */
.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    padding-bottom: 4px;
    background: var(--form-background-color); 
    color: var(--text-color); 
    border: none;
    border-radius: 50%; 
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2; 
}

.modal-close:hover {
    background: var(--modal-content-color); 
}

/* Gradient transition under video */
.modal-header {
    position: relative;
    height: 300px; 
    display: flex;
    align-items: flex-end;
    overflow: hidden; 
}

.modal-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--background-color), rgba(0, 0, 0, 0));
    z-index: 100; 
    pointer-events: none; 
}

.modal-header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}

/* Modal body */
.modal-body {
    padding: 20px;
    background: var(--modal-content-color); 
    color: var(--text-color);
    flex: 1; 
}

/* Recommended movies section */
.recommended-movies {
    margin-top: 20px;
}

.recommended-list {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
}

.recommended-item {
    margin-left: 20px;
    flex: 0 0 auto;
    width: 120px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
}

.recommended-image {
    margin-left: 20px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}
.recommendations {
    margin-left: -15px; 
  }

.no-recommendations {
    color: var(--text-color-secondary);
    margin-left: 20px;
  }

/* Modal transition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
